@import "tailwindcss";

@theme {
  --color-sidebar-background: hsl(0 0% 98%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-sidebar-primary: hsl(240 5.9% 10%);
  --color-sidebar-border: hsl(220 13% 91%);
}

@layer base {
  * {
    @apply border-slate-800;
  }
  body {
    @apply bg-slate-950 text-slate-50;
  }
}